#create_budget_item_modal {
  .included_categories {
    border: 1px solid #ccc;
    border-radius: 5px;
    list-style: none;
    margin: 10px 0;
    padding: 5px;
  }
}

.expense-data {
  ul {
    list-style: none;
  }
  li {
    float: left;
    padding: 2px 11px;
    text-align: center;
  }
  b {
    display: block;
    text-transform: uppercase;
  }
}

#budgets {
  list-style: none;
  margin: 0;
  li {
    margin: 5px;
    padding: 5px;
    border: 1px solid #CCC;
    border-radius: 5px;
    background-color: #DDD;
  }
  .limit {
    float: right;
  }
}

.report_table {
  margin-top: 0;

  .categories {
    list-style: none;
    li {
      color: #999;
    }
    padding:0;
    margin: 0;
    margin-top: 5px;
  }

  .limit {
  }

  .amount-left {
    margin-left: 10px;
    display: inline-block;
    &.positive {
      color: green;
    }
    &.negative {
      color: red;
    }
  }
}
