.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.left-bar {
  background-color: #eee;
  padding: 10px;
}

.full-container {
  padding: 0px 20px;
}

.inner-nav.nav-pills.well {
  padding-top: 5px;
  padding-bottom: 5px;
}

.color {
  &.red {

  }
}

.bg {
  &.red {

  }
}

.dollar {
  display: inline-block;
  padding-right: 1px;
}

.income {
  color: green;
}

.expenses {
  color: #990033;
}

.close-model-right {
  float: right;
  cursor: pointer;
}

// Twitter bootstrap overrides
.modal-backdrop {
  opacity: 0.1;
}

.typeahead.dropdown-menu {
   z-index: 2000;
}