table {
  margin: 1em 0;
  clear: both;
  td {
    white-space: nowrap;
  }
}

th.st-width {
  width: 100px;
}
th.actions, td.actions {
  width: 130px;
  text-align: center
}
.actions {
  text-align: right;
}

.modal.split_form_area {
  width: 830px;
}

.month_selector {
  list-style: none;
  display: table;
  width: 100%;
  margin: 0;
  li {
    border-left: 1px solid #666;
    display:table-cell;
    text-align: center;
    background-color: #eee;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
    &:hover {
      background-color: #ccc;
    }
    &.active {
      background-color: #ccc;
      cursor: auto;
    }
  }
  li:last-child {
    border-right: 1px solid #666;
  }
}

#items_list {
  min-height: 400px;
}