.hero-unit
  %h1 Manage your finances
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue arcu, ornare sed cursus cursus, commodo id metus.
  %p
    .btn.btn-primary.btn-large Learn More

.features
  .info
    %i.icon-download
    Import your CSV from your bank
  .info
    %i.icon-food
    Budget your expenses
  .info
    %i.icon-money
    Control your expenses!
