{{#categories}}
<li data-name="{{name}}">{{name}} <a href="#" class="remove"><i class="icon-remove"></i></a>
<input type="hidden" name="budget_item[categories][]" value="{{name}}"/></li>
{{/categories}}