.edit_modal_dialog.modal.hide
  .modal-header
    %h3 Edit Planned Item
  = simple_form_for @item, :remote => true, :html => { :class => 'form-horizontal edit_form remote_form' } do |f|
    .modal-body.well
      = render :partial => 'form', :locals => {:f => f}
    .modal-footer
      %a.btn(data-dismiss='modal') Cancel
      %button.edit_item_btn.btn.btn-primary.submit{:type => :submit} Submit